<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-content">
        <img src="https://cdn-icons-png.flaticon.com/512/3175/3175622.png" alt="University Logo" class="university-logo" />
        <span class="page-title">RegistrAPP</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="camera-container" *ngIf="scanActive">
    <!-- Aquí irá la cámara -->
    <div class="camera-view">
      <!-- Contenido relacionado con la cámara se mostrará aquí -->
    </div>
  </div>
  <br><br>
  <ion-button expand="center" color="orange" (click)="startScan()">Scanning</ion-button>
  <ion-button expand="center" color="orange" (click)="stopScan()" *ngIf="scanActive">Stop Scan</ion-button>
  <ion-button expand="center" color="orange" routerLink="/asistencia">Ver mi asistencia</ion-button>

</ion-content>

<ion-footer>
  <div class="uni">
    <img src="https://www2.duoc.cl/proveedores/img/logo-duoc.png" alt="Duoc Logo" class="university-logo" />
  </div>
</ion-footer>
