<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-content">
        <img src="https://cdn-icons-png.flaticon.com/512/3175/3175622.png" alt="University Logo" class="university-logo" />
        <span class="page-title">RegistrAPP</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br><br>
  <ion-label>BIENVENIDO, <br> {{ username }}</ion-label>
  <br><br><br>
  
  <ion-button expand="center" color="orange" routerLink="/escaner">Registrar Asistencia</ion-button>
  <br><br><br><br>
  <ion-button expand="center" color="orange" routerLink="/home">Inicio</ion-button>
  <br><br>
</ion-content>

<ion-footer>
  <div class="uni">
    <img src="https://www2.duoc.cl/proveedores/img/logo-duoc.png" alt="Duoc Logo" class="university-logo" />
  </div>
</ion-footer>
