.oval-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .square {
    height: 50px;
    width: 200px;
    background: rgb(161, 77, 221);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
  }