<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-content">
        <img src="https://cdn-icons-png.flaticon.com/512/3175/3175622.png" alt="University Logo" class="university-logo" />
        <span class="page-title">RegistrAPP</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Inicio cuerpo de nuestro pagina-->
<ion-content [fullscreen]="true" class="form-container">
  <app-login></app-login>
</ion-content>
<!--fin cuerpo de nuestro pagina-->

<!--inicio footer-->
<ion-footer>
  <div class="uni">
    <img src="\assets\logo-duoc.png" alt="Duoc Logo" class="university-logo" />
  </div>
</ion-footer>
<!--fin footer-->
